@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: aliceblue;
}

.container {
  width: 500px;
  background-color: black;
  border-radius: 10px;
  padding: 25px;
}

#box {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: aliceblue;
}

h3 {
  background-color: aliceblue;
  color: #000000;
  border-radius: 10px;
  padding: 5px;
}

img {
  border-radius: 50%;
  width: 12rem;
  box-shadow: 5px 5px 25px;
  margin-top: 15px;
  margin-bottom: -15px;
}

.seguidores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 15px;
}

#iconogit {
  background-color: #199319;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
}

#iconogit:hover {
  color: #000000;
  background-color: aliceblue;
  transition: 0.8s;
}

@media screen and (max-width: 414px) {
  body{
    background-color: #000000;
  }
}
